.input{
	padding: 6px 6px;
	border:1px solid #e0e0e0;
	background:#fff;
	line-height: 18px;	
	
	transition:all .3s; 
	-webkit-transition:all .3s; 
	-moz-transition:all .3s;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.input-round {
	border-radius: 25px;
}

.input input, .input textarea{
	width:100%;
	background:none;
	border:0;
	margin:0; 
	padding:0;
	color: #333;
	font: 14px "Open Sans", sans-serif;
	outline:none;
}

.input_focus{
	border-color: #999;
	background: #fff;
}

.input_focus input, .input_focus textarea{
	color:#333;
}

.input_error{
	background:#fff7f2;
	border-color:#ff7f39;
}
.input_error input, .input_error textarea{
	color:#f30;
}

.input_field {
	position: relative;
	display: inline-block;
	width: 100px;
	border-bottom: 1px solid #00a206;
}

.input_field_focus {
	border-color: #333;	
}

.input_field input {
	width:100%;
	background:none;
	border:0;
	margin:0; 
	padding:0;
	color: #333;
	font: 14px "Open Sans", sans-serif;
	outline:none;
	text-align: center;
}

.input_field i {
	display: block;
	position: absolute;
	top: -30px;
	width: 100%;
	text-align: center;
	color: #00a206;
	display: none;
}

.error{
	background:#fffa72;
	color:#ff0000;
	padding:0 5px;
	border-radius:5px;	
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;	
}

.btn{
	display:block;
	text-decoration:none;
	max-width: 300px;
	margin: 0 auto;
	color:#fff;
    text-align: center;
	padding: 0 20px;
	font-size: 14px;
    line-height: 40px;
    background: #7698c1;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}


.btn:hover{
	color:#fff;
    background: #6fabf4;
    text-decoration: none;
}

.btn-blue {
	background: #45a7ff;
	border: 1px solid #444;
	font-size: 18px;
    line-height: 44px;
}
.btn-blue:hover {
	background: #1a76c9;
}

.btn-grey {
	background: #f2f2f2;
	color: #666;
}
.btn-grey:hover {
	background: #ccc;
	color: #666;
}

.btn-orange {
	background: #eb6447;
}
.btn-orange:hover {
	background: #ff2d00;
}

.btn-search {
	display: block;
	width: 34px;
	height: 34px;
	background: url(http://pleasuretoburn.com/images/bg_search.png) -2px center no-repeat;
	border-radius: 17px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	overflow: hidden;
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
}
.btn-search:hover {
	background-position: -40px center;
}

.btn-sml {
	max-width: 100px;
	font-size: 12px;
	line-height: 28px;
	padding: 0;
	text-align: center;
}

.checkbox{
	position:relative;
	line-height:16px;	
	overflow:hidden;
	cursor:pointer;
}

.checkbox input{
	position:absolute;
	margin-left:-40px;
}

.checkbox span{
	display:block;
	float:left;
	width:16px;
	height:16px;
	margin-right:5px;
	background:url(http://pleasuretoburn.com/images/checkbox.png) top left no-repeat;
}
.checkbox-active span{
	background-position:bottom left;
}

#pic{
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:200px;
	opacity:0;
}