body{
	font-family: "Forza SSm A", "Forza SSm B", "Gotham A", "Gotham B", 'time new roman';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #4a4a4a;
	background: #0e1842;
	overflow-y: scroll;
}


/*=================================================================
  comment
  =================================================================*/
.clearfix,
.row,
.wrapper {
  *zoom: 1;
  position: relative;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.wrapper:before,
.wrapper:after  {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after,
.row:after,
.wrapper:after {
  clear: both;
}

.wrapper {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
.absolute {
	position: absolute;
}

@keyframes myfirst
{
0%   {background: rgba(255,0,96,.2); box-shadow: 0 0 100px rgba(255,0,96,.5); }
50%  {background: rgba(255,0,96,.4); box-shadow: 0 0 100px rgba(255,0,96,.7); }
100% {background: rgba(255,0,96,.2); box-shadow: 0 0 100px rgba(255,0,96,.5); }
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background: rgba(255,0,96,.2); box-shadow: 0 0 100px rgba(255,0,96,.5); }
50%  {background: rgba(255,0,96,.4); box-shadow: 0 0 100px rgba(255,0,96,.7); }
100% {background: rgba(255,0,96,.2); box-shadow: 0 0 100px rgba(255,0,96,.5); }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
0%   {background: rgba(255,0,96,.2); box-shadow: 0 0 100px rgba(255,0,96,.5); }
50%  {background: rgba(255,0,96,.4); box-shadow: 0 0 100px rgba(255,0,96,.7); }
100% {background: rgba(255,0,96,.2); box-shadow: 0 0 100px rgba(255,0,96,.5); }
}

@-o-keyframes myfirst /* Opera */
{
0%   {background: rgba(255,0,96,.2); box-shadow: 0 0 100px rgba(255,0,96,.5); }
50%  {background: rgba(255,0,96,.4); box-shadow: 0 0 100px rgba(255,0,96,.7); }
100% {background: rgba(255,0,96,.2); box-shadow: 0 0 100px rgba(255,0,96,.5); }
}

#preload-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0.3;	
}
#preload {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
	/* margin-right: auto; */
	width: 500px;
	height: 500px;
	/* border-radius: 250px; */
	/* margin: -250px 0 0 -250px; */
	/* background: rgba(255,255,255,.2); */
	/* animation: myfirst 2s infinite; */
	-moz-animation: myfirst 2s infinite;/* Firefox */
	/* -webkit-animation: myfirst 2s infinite; *//* Safari 和 Chrome */
	-o-animation: myfirst 2s infinite;/* Opera */
}
#preload-img {
	margin:  220px auto 0;
	width: 400px;
	mix-blend-mode: color-dodge;
	height: 52px;
}

#preload-img div {
	position: relative;
	width: 400px;
	height: 13px;
	overflow: hidden;	
}
#preload-img div img{
	position:absolute;
	width: 400px;
	height: 52px;
}

#preload-img-1 img{ top: 0}
#preload-img-2 img{ top: -13px;}
#preload-img-3 img{ top: -26px;}
#preload-img-4 img{top: -40px; }

#preload-icon {	
	width: 32px;
	height: 32px;
	padding: 5px;
	background: #fff;
	background: rgba(255,255,255,.85);
	border-radius: 3px;
}

#preload-txt {
	color: #FF3983;
	padding-top: 5px;
	font-size: 14px;
	text-align: center;
	letter-spacing: .5em;
}

/*#btns {
	display: none;
	position: fixed;
	z-index: 50;
	right: 20px;
	top: 20px;
	width: 80px;
	line-height: 30px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}*/
.btns {
	display: none;
	position: fixed;
	z-index: 50;
	right: 8px;
	top: 10px;
	width: 32px;
	height: 28px;
	background: url(../images/play.png) center no-repeat;
	border: 0px solid #02f9fe;
	border-radius: 3px;	
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}

.btns-pause {		
	background: url(../images/pause.png) center no-repeat;
}

.btns:hover {
	border-color: #84fdff;
}

#btns span {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 1;
	height: 30px;
	background: rgba(255,255,255,.2);	
}

/*#btns:hover {
	background: rgba(255,255,255,.3);
}

#btns:hover span {
	display: none;
}*/

#speed {
	display: none;
	position: fixed;	
	z-index: 50;
	right: 20px;
	top: 60px;
	width: 32px;
	height: 2px;
	background: #ddd;
	font-size: 11px;
	line-height: 20px;
	color: #fff;	
}
#speed div {
	height: 2px;
	width: 10%;
	background: #fc5c79;
}

#state-bar {
	position: fixed;
	z-index: 50;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background: #3b36a8;
}
#state-bar div {
	margin-top:-1px;
	height: 6px;
	width: 1px;
	background: #3cc6b6;	
}
/*=================================================================
  Main
  =================================================================*/
#main {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.bg img {
	width: 100%;
	float: left;
	mix-blend-mode: multiply;
}


#stars {
	position: relative;
	z-index: 4;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.star-1 {
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	background: #43fcf4;
	box-shadow: 0px 0px 5px rgba(67,252,244,.5);
}
.star-2 {
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #43fcf4;
	box-shadow: 0px 0px 5px rgba(67,252,244,.5);
}
.star-3 {
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	background: #43fcf4;
	box-shadow: 0px 0px 5px rgba(67,252,244,.5);
}
.star-4 {
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #43fcf4;
	box-shadow: 0px 0px 5px rgba(67,252,244,.5);
}
.star-animate-1 {	
	animation: star 2.7s infinite;
}
.star-animate-2 {	
	animation: star 2s infinite;
}
.star-animate-3 {	
	animation: star 3s infinite;
}
.star-animate-4 {	
	animation: star 3.5s infinite;
}
.star-animate-5 {	
	animation: star 4s infinite;
}
.star-animate-6 {	
	animation: star 2.5s infinite;
}

@keyframes star
{
0%   {opacity:0;}
20%  {opacity:1;}
50% {opacity:0;}
100% {opacity:0;}
}

@-moz-keyframes star /* Firefox */
{
0%   {opacity:0;}
20%  {opacity:1;}
50% {opacity:0;}
100% {opacity:0;}
}

@-webkit-keyframes star /* Safari 和 Chrome */
{
0%   {opacity:0;}
20%  {opacity:1;}
50% {opacity:0;}
100% {opacity:0;}
}

@-o-keyframes star /* Opera */
{
0%   {opacity:0;}
20%  {opacity:1;}
50% {opacity:0;}
100% {opacity:0;}
}

#round {
	position: absolute;
	z-index: 5;
	width: 44%;
	left: 60%;
	top: 16.7%;
	background: rgba(255, 0, 151, 0.64);
	mix-blend-mode: color;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	display: none;
}

#round-number {
	position: absolute;
	left: 100%;
	top: 40%;
	width: 56.17%;
}

#footer {
	position: fixed;
	z-index: 50;
	right: 16px;
	bottom: 30px;
	display: none;	
}

#footer-left-txt {
	position: absolute;
	z-index: 2;
	left: 30px;
	bottom: 30px;
}

#title-1,
#title-2,
#title-3 {
	position: absolute;
	z-index: 10;
	width: 1216px;
	overflow: hidden;
	mix-blend-mode: color-dodge;
}
#title-1 img,
#title-2 img,
#title-3 img {
	width: 100%;
	float: left;
	mix-blend-mode: color; 
}

#title-1 {
	height: 41px;
	left: 100%;
	top: 53.98%;
}
#title-2 {
	height: 54px;
	left: -100%;
}
#title-3 {
	height: 62px;
	left: 100%;
}

.cover-thumb {
	position: absolute;
	width: 800px;
	height: 30px;
	z-index: 4;
	overflow: hidden;
	left: 0px;
	top: 100px;
	/*box-shadow: 0px 0px 5px rgba(255,255,255,.4);*/
}

.opacity-0 {
	opacity: 0;	
}


/*=================================================================
  .page
  =================================================================*/
#pagenav {
	position: fixed;
	right: -30px;
	z-index: 30;
	top: 50%;
	margin-top: -196px;
}
#pagenav li {
	font-size: 12px;
	color: #fff;
	text-align: center;
	width: 28px;
	line-height: 28px;
	cursor: pointer;	
}
#pagenav li span {
	display: block;
	border-radius: 14px;
}

#pagenav li:hover span {
	background: rgba(255,255,255,.2);
	width: 24px;
	line-height: 24px;
	border: 2px solid #fff;
}

#pagenav li.active span {
	width: 24px;
	line-height: 24px;
	border: 2px solid #02f9fe;
}

.page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;	
}

.bg-cover {
	position: absolute;
	z-index: 20;
}

#page-1-txt {
	position: absolute;
	z-index: 5;
	width: 40%;
	left: 20%;
	top: 0;
}



.txt {
	overflow: hidden;
}

.txt-inner {
	position: absolute;
	width: 100%;
	height: 100%;	
	font-size: 20px;
	line-height: 30px;
	color: #fff;	
}
.txt-format {
	font-size: 40px;
	line-height: 100px;
	/* font-family:'Open Sans', sans-serif; */
	color: #fff;
}
.txt-format-1 {	
	font-size: 40px;
	line-height: 68px;
	color: #fff;		
}
#tmp-txt {
	opacity: 0;	
}

.hidden {
	display: none;
}

/*=================================================================
  page 2
  =================================================================*/
.static-bg {
	position:absolute;
	width: 100%;
}


#page-2-txt {
	position: absolute;
	z-index: 6;
	left: 14%;
	top: 20%;
	width: 72%;
}

.static-txt {
	max-width: 900px;
	margin: 0 auto;
}

#page-2-txt-2 {
	position: absolute;
	z-index: 6;
	left: 14%;
	top: 57.63%;
	width: 72%;
}

#page-2-footer {
	position: fixed;
	width: 100%;
	top: auto;
	bottom: 0;
	z-index: 11;	
}

/*=================================================================
  page 3
  =================================================================*/
#page3-txt {
	position: absolute;
	top: 74.94%;
	left: 16.947%;
	width: 52.526%;
	height: auto;	
}

@keyframes flickr
{
0%   {opacity:.2;}
50%  {opacity:1;}
100% {opacity:.2;}
}

@-moz-keyframes flickr /* Firefox */
{
0%   {opacity:.2;}
50%  {opacity:1;}
100% {opacity:.2;}
}

@-webkit-keyframes flickr /* Safari 和 Chrome */
{
0%   {opacity:.2;}
50%  {opacity:1;}
100% {opacity:.2;}
}

@-o-keyframes flickr /* Opera */
{
0%   {opacity:.2;}
50%  {opacity:1;}
100% {opacity:.2;}
}

.light-flickr {
	animation: flickr 5s infinite;	
}

/*=================================================================
  page 4
  =================================================================*/
#page4-txt {
	position: absolute;
	top: 74.94%;
	left: 2.73%;
	width: 47.4%;
	height: auto;	
}

/*=================================================================
  page 5
  =================================================================*/
#page5-txt {
	position: absolute;
	top: 74.94%;
	left: 50%;
	width: 47.4%;
	height: auto;	
}

#page5-light {
	animation: page5Light 1s infinite;		
}

@keyframes page5Light
{
	0%   { margin-left: -2px; margin-top: -2px; opacity:.5;}
	30%  {margin-left: 2px; margin-top: 1px;  opacity:.7; }
	60% {margin-left: -3px; margin-top: -3px; opacity:1; }
	80% {margin-left: 4px;  margin-top: 0px; opacity:.5;}
	100% {margin-left: -4px; margin-top: 1px; opacity:.5;}
}

@-moz-keyframes page5Light /* Firefox */
{
	0%   { margin-left: -2px; margin-top: -2px; opacity:.5;}
	30%  {margin-left: 2px; margin-top: 1px;  opacity:.7; }
	60% {margin-left: -3px; margin-top: -3px; opacity:1; }
	80% {margin-left: 4px;  margin-top: 0px; opacity:.5;}
	100% {margin-left: -4px; margin-top: 1px; opacity:.5;}
}

@-webkit-keyframes page5Light /* Safari 和 Chrome */
{
	0%   { margin-left: -2px; margin-top: -2px; opacity:.5;}
	30%  {margin-left: 2px; margin-top: 1px;  opacity:.7; }
	60% {margin-left: -3px; margin-top: -3px; opacity:1; }
	80% {margin-left: 4px;  margin-top: 0px; opacity:.5;}
	100% {margin-left: -4px; margin-top: 1px; opacity:.5;}
}

@-o-keyframes page5Light /* Opera */
{
	0%   { margin-left: -2px; margin-top: -2px; opacity:.5;}
	30%  {margin-left: 2px; margin-top: 1px;  opacity:.7; }
	60% {margin-left: -3px; margin-top: -3px; opacity:1; }
	80% {margin-left: 4px;  margin-top: 0px; opacity:.5;}
	100% {margin-left: -4px; margin-top: 1px; opacity:.5;}
}

/*=================================================================
  page 6
  =================================================================*/
#page6-txt {
	position: absolute;
	top: 74.94%;
	left: 2.73%;
	width: 47.4%;
	height: auto;	
}

#hooded {
	animation: hooded 5s infinite;		
}


@keyframes hooded
{
	0%   { margin-top: 10px;}
	50% {margin-top: -10px;  }
	100% {margin-top: 10px;  }
}

@-moz-keyframes hooded /* Firefox */
{
	0%   { margin-top: 10px;}
	50% {margin-top: -10px;  }
	100% {margin-top: 10px;  }
}

@-webkit-keyframes hooded /* Safari 和 Chrome */
{
	0%   { margin-top: 10px;}
	50% {margin-top: -10px;  }
	100% {margin-top: 10px;  }
}

@-o-keyframes hooded /* Opera */
{
	0%   { margin-top: 10px;}
	50% {margin-top: -10px;  }
	100% {margin-top: 10px;  }
}

/*=================================================================
  page 7
  =================================================================*/
#page7-txt {
	position: absolute;
	top: 74.94%;
	left: 2.73%;
	width: 47.4%;
	height: auto;	
}

#ship {
	animation: hooded 10s infinite;			
}

@keyframes ship
{
	0%   { margin-top: 0px;}
	50% {margin-top: -20px;  }
	100% {margin-top: 0px;  }
}

@-moz-keyframes ship /* Firefox */
{
	0%   { margin-top: 0px;}
	50% {margin-top: -20px;  }
	100% {margin-top: 0px;  }
}

@-webkit-keyframes ship /* Safari 和 Chrome */
{
	0%   { margin-top: 0px;}
	50% {margin-top: -20px;  }
	100% {margin-top: 0px;  }
}

@-o-keyframes ship /* Opera */
{
	0%   { margin-top: 0px;}
	50% {margin-top: -20px;  }
	100% {margin-top: 0px;  }
}

/*=================================================================
  page 8
  =================================================================*/
#page-8 {
	
}
#page8-txt-1,
#page8-txt-2,
#page8-txt-3 {
	position: absolute;
	top: 7.332%;
	left: 5%;
	width: 47.4%;
	height: auto;	
}

#page8-txt-2 {
	top: 28.7%;	
}
#page8-txt-3 {
	top: 56.39%;	
}
#page8-txt-4 {
	position: absolute;
	top: 7.332%;
	left: 70.71%;
	width: 25%;
	height: auto;	
}

#page-8-header {
	position: fixed;
	z-index: 20;
	width: 100%;
	left: 0;
	top: 0;
}
#page-8-footer {
	position: fixed;
	z-index: 20;
	width: 100%;
	left: 0;
	bottom: 0;
}

#ball {
	position: absolute;
	z-index: 10;
}

#ball img {
	width: 100%;
	animation: ball 5s linear infinite;	
}

@keyframes ball
{
	0%   { transform:rotate(0deg);}
	50% {transform:rotate(180deg);}
	100% {transform:rotate(360deg);}
}

@-moz-keyframes ball /* Firefox */
{
	0%   { -moz-transform:rotate(0deg);}
	50% {-moz-transform:rotate(180deg);}
	100% {-moz-transform:rotate(360deg);}
}

@-webkit-keyframes ball /* Safari 和 Chrome */
{
	0%   { -webkit-transform:rotate(0deg);}
	50% {-webkit-transform:rotate(180deg);}
	100% {-webkit-transform:rotate(360deg);}
}

@-o-keyframes ball /* Opera */
{
	0%   { -o-transform:rotate(0deg);}
	50% {-o-transform:rotate(180deg);}
	100% {-o-transform:rotate(360deg);}
}

/*=================================================================
  page 9
  =================================================================*/
#page9-txt {
	position: absolute;
	top: 74.94%;
	left: 13.89%;
	width: 47.89%;
	height: auto;	
}

/*=================================================================
  page 10
  =================================================================*/
#page10-txt {
	position: absolute;
	top: 74.94%;
	left: 15%;
	width: 70%;
	height: auto;	
}

/*=================================================================
  page 11
  =================================================================*/
#page11-txt {
	position: absolute;
	top: 74.94%;
	left: 3%;
	width: 50%;
	max-width: 700px;
	height: auto;	
}
#page-11-footer {
	position: fixed;
	z-index: 20;
	width: 100%;
	left: 0;
	bottom: 0;
}

/*=================================================================
  page 12
  =================================================================*/
#page12-txt {
	position: absolute;
	top: 50%;
	left: 2.73%;
	width: 47.4%;
	height: auto;
}


#sharethis {
	display: none;
	position: fixed;
	z-index: 50;
	top: 50%;
	left: 50%;
	margin: -55px  0 0 -115px;
	width: 200px;
	height: 80px;
	text-align: center;
	padding: 15px;
	background: rgba(0,0,0,.5);
	border-radius: 5px;
}

#links {
	position: fixed;
	z-index: 50;
	top: 50%;
	left: 2.73%;
	margin-top: -25px;
}
