/*=================================================================
  common
  =================================================================*/
::selection {
 background:#666;
 color:#fff;
}
::-moz-selection{
 background:#666;
 color:#fff;
}
code::selection {
 background:#666;
 color:#fff;
}
code::-moz-selection {
 background:#666;
 color:#fff;
}


  
/*=================================================================
  heading
  =================================================================*/
p {
  margin: 0 ;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6{ 
	font-family: 'gotham', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 32px;
	line-height: 36px;
}

h2 {
	font-size: 28px;
	line-height: 34px;
}

h3 {
	font-size: 26px;
	line-height: 32px;
}

h4 {
	font-size: 24px;
	line-height: 28px;
}

h5 {
	font-size: 20px;
	line-height: 24px;
}


.normal {
    font-weight: 400;
}

.font-12 {
	font-size: 12px;
	line-height: 20px;
}
.font-18 {
	font-size: 18px;
	line-height: 28px;
}
.font-32 {
	font-size: 32px;
	line-height: 42px;
}

.border-top {
	border-top: 1px solid #ddd;
}
.border-bottom {
	border-bottom: 1px solid #ddd;
}


/*=================================================================
  link
  =================================================================*/
a {
	color: #7698c1;
	        transition: all .3s;
	   -moz-transition: all .3s;
	-webkit-transition: all .3s;
	
	text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #7698c1;
	text-decoration: underline;
}


/*=================================================================
  Colors
  =================================================================*/
.white {
	color: #fff;
}
.black { 
	color: #333;
}
.red {
	color: #f60000;
}
.blue {
	color: #3065ff;
}
.green {
	color: #00a206;
}
.orange {
	color: #ff5d08;
}
.yellow {
	color: #fdff32;
}
.light-blue {
	color: #52b9d3;
}

small{
	font-size: 11px;
}

.bold {
	font-weight: bold;
}


/*=================================================================
  float & text align
  =================================================================*/
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.img-left {
	float: left;
	padding-right: 15px;
}

.img-full {
	width: 100%;
	float: left;
}

.img-full-width{
	width: 100%;
}

/*=================================================================
  list
  =================================================================*/
.list-square {	
	padding-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.list-square li {
	padding: 3px 0;
	list-style: square;
}


.ul-no-style{
	margin: 0;
	padding: 0;
	list-style: none;
}
.ul-no-style li{
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.ul-tick {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.ul-tick li {
	margin: 0;
	padding: 0px 0 30px 50px;
	background: url(http://pleasuretoburn.com/images/tick.png) 0 5px no-repeat;	
}

.ul-center {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;	
}
.ul-center li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.des-table,
.des-table li{
	margin: 0;
	padding: 0;
	list-style: none;			
}

.des-table li span {
	display: block;
	padding: 6px 10px 7px;
	line-height: 18px;
	background: #f7f7f7;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
}

.cell-left {
	width: 35%;
	float: left;
}
.cell-right {
	width: 65%;
	float: right;
}

.des-table li span.blue {
	background: #9eb0c6;
	color: #fff;
}

/*=================================================================
  padding
  =================================================================*/
.paddingT0 { padding-top: 0px; }
.paddingT5  { padding-top: 5px; }
.paddingT10 { padding-top: 10px; }
.paddingT15 { padding-top: 15px; }
.paddingT20 { padding-top: 20px; }
.paddingT30 { padding-top: 30px; }
.paddingT40 { padding-top: 40px; }
.paddingT50 { padding-top: 50px; }
.paddingT60 { padding-top: 60px; }
.paddingT70 { padding-top: 70px; }
.paddingT90 { padding-top: 90px;}
.paddingT100 { padding-top: 100px;}

.paddingB5 { padding-bottom: 5px; }
.paddingB10 { padding-bottom: 10px; }
.paddingB40 { padding-bottom: 40px; }

.paddingL0 { padding-left: 0px; }
.paddingR20 { padding-right: 20px; } 
.paddingR50 { padding-right: 50px; }

/*=================================================================
  margin
  =================================================================*/
.marginT10 { margin-top: 10px }
.marginT15 { margin-top: 15px }
.marginT20 { margin-top: 20px }
.marginT30 { margin-top: 30px }
.marginT50 { margin-top: 50px }

